In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
pd.set_option('display.max_columns', 100)

import scipy.stats as st
import statsmodels.stats.proportion as sm

In [2]:
#  ****************  ETL *******************

In [3]:
poll = pd.read_excel(r'COMPLETE 'CLEAN_POLL.XLSX' FILE PATH')

In [4]:
poll = poll.drop(['Unnamed: 0'],axis=1)

In [5]:
poll.head()

,ID,Male?,Age,Home population,Country,Qty medic.,% med used 1 month,% med used 6 month,% med used 12 month,% med expire unusefull,have heart,have mental,have breathing,have pressure,have cancer,"Colesterol, diabetes",have general,have dental,have alergies,have comments,extra heart,extra mental,extra breath,extra pressure,extra cancer,extra diabetes colesterol,extra general,extra dental,extra alergie,extra comment,will donate?,will deliver?,most pilds?,comment
0,94016141,Male,21 - 35,0 - 1,Portugal,21 - 27,0-20%,41-60%,41-60%,41-60%,0,0,1,0,0,0,1,1,0,0,0,0,0,1,0,0,0,1,1,0,YES,YES,YES,0
1,94016315,Female,76 - 85,0 - 1,Argentina,4 - 7,81-100%,81-100%,81-100%,0-20%,0,0,0,1,0,1,0,0,0,0,0,0,0,0,0,0,0,1,0,0,YES,YES,YES,0
2,94016388,Female,21 - 35,0 - 1,Francia,4 - 7,41-60%,0-20%,0-20%,21-40%,0,0,0,0,0,0,1,0,1,0,0,0,0,0,0,0,1,0,0,0,YES,YES,YES,0
3,94016392,Male,36 - 50,2 - 4,Spain,8 - 11,21-40%,41-60%,0-20%,0-20%,0,0,0,0,0,0,1,0,1,"Nerve painful treatment, children vitamins",0,0,0,0,0,0,0,0,0,0,YES,YES,YES,roque.ourense@gmail.com
4,94016414,Male,36 - 50,0 - 1,Austria,12 - 15,0-20%,21-40%,0-20%,41-60%,0,0,0,0,0,0,1,1,1,0,0,0,1,0,0,0,0,1,0,0,YES,NO,YES,0

In [6]:
qty_med_age = pd.crosstab(poll['Qty medic.'], poll['Age'])
qty_med_age

Age         21 - 35  36 - 50  51 - 65  66 - 75  76 - 85
Qty medic.
0 - 3             1        2        1        0        0
12 - 15           1        5        2        1        0
16 - 20           0        2        0        0        0
21 - 27           1        0        0        0        0
28 - 35           0        1        1        0        0
36 <              1        0        0        0        0
4 - 7             8        6        3        0        1
8 - 11            3        8        1        4        0

In [7]:
qty_med_pop = pd.crosstab(poll['Qty medic.'], poll['Home population'])
qty_med_pop

Home population  0 - 1  2 - 4  5 - 6
Qty medic.
0 - 3                1      2      1
12 - 15              4      4      1
16 - 20              0      2      0
21 - 27              1      0      0
28 - 35              0      2      0
36 <                 0      0      1
4 - 7               10      8      0
8 - 11              12      4      0

In [8]:
qty_med_gender = pd.crosstab(poll['Qty medic.'], poll['Male?'])
qty_med_gender

Male?       Female  Male
Qty medic.
0 - 3            2     2
12 - 15          2     7
16 - 20          1     1
21 - 27          0     1
28 - 35          0     2
36 <             1     0
4 - 7           11     7
8 - 11           4    12

In [9]:
qty_med_country = pd.crosstab(poll['Qty medic.'], poll['Country'])
qty_med_country

Country,Alemania,Argentina,Austria,Francia,Países Bajos,Portugal,Spain,USA
Qty medic.,,,,,,,,
0 - 3,0,1,0,0,0,1,1,1
12 - 15,0,5,1,0,0,0,3,0
16 - 20,0,1,0,0,0,0,1,0
21 - 27,0,0,0,0,0,1,0,0
28 - 35,0,2,0,0,0,0,0,0
36 <,0,0,0,0,0,0,1,0
4 - 7,1,12,0,1,1,1,2,0
8 - 11,0,10,0,0,0,0,5,1

In [10]:
poll['Country'].value_counts()

Argentina       31
Spain           13
Portugal         3
USA              2
Francia          1
Austria          1
Países Bajos     1
Alemania         1
Name: Country, dtype: int64

In [11]:
df_america = poll.loc[poll['Country'].isin(['Argentina','United States of America'])]
df_europe = poll.loc[~poll['Country'].isin(['Argentina','United States of America'])]

In [12]:
def dfs_tabs(df_list, sheet_list, file_name):
    writer = pd.ExcelWriter(file_name,engine='xlsxwriter')   
    for dataframe, sheet in zip(df_list, sheet_list):
        dataframe.to_excel(writer, sheet_name=sheet, startrow=0 , startcol=0)   
    writer.save()

# list of dataframes and sheet names
dfs = [poll, df_america, df_europe]
sheets = ['poll','america','europe']    

# run function
dfs_tabs(dfs, sheets, 'tableau.xlsx')